# Begin cache control #
ExpiresActive on
<FilesMatch "\.(png|bmp|ico|gff|jpg|jpeg|gif|gcf)$">
FileETag MTime Size
ExpiresDefault "now plus 240 minutes"
</FilesMatch>

ExpiresDefault "now plus 15 minutes"
ExpiresByType text/html "now plus 15 minutes"
<FilesMatch "\.(css|htm|html|js)$">
FileETag MTime Size
ExpiresDefault "now plus 15 minutes"
</FilesMatch>

Options -Indexes
ErrorDocument 404 /notfound.html
ErrorDocument 403 /notfound.html


# End cache control #
DirectoryIndex index.html

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
