<div class="partialbody" windows-processing>
  <div class="home-body">
     <H3 class="d-sm-none" style="margin-bottom:2.0em;line-height:1.3em;text-align:center">Delivering For<br/>Your Most Critical<br/>Business Needs<br/>For Over 10 Years</H3>
     <H3 class="d-none d-sm-block d-md-block d-lg-block d-xl-block"style="margin-bottom:2.5em;text-align:center">Providing high quality, on-time delivery for critical business needs for over 10 years</H3>
     <H3 style="margin-bottom:2em">Software and Web Design - Page 2</H3>
     <ul class="d-none d-sm-block d-md-block d-lg-block d-xl-block" style="margin-bottom: 5em">
        <li><h4>You Mamma!</h4></li>
        <li><h4>ERM/CRM Design from Database to User Experience</h4></li>
     </ul>
     <div class="d-sm-none" style="text-align:center;margin-bottom: 5em;">
        <h4>Yo Mamma</h4>
        <h4>Custom ERM/CRM Design from Database to User Experience</h4>
     </div>
     
<!--       <defs>
        <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
           <image xlink:href="images/wood-panel.png" x="0" y="0" width="100" height="100" />
        </pattern>
     </defs>
--><!--      <svg id="top-angled-background" class="col-sm-12" version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%"  style="border:1px solid #4A3">
        <polygon id="angled-page-poly" points="0 0 100 0 100 100 0 100" fill="url(#img1)">
        </polygon>
     </svg>
-->
  <div class="info-box">
      <p>* Contact Mike *</p>
      <p>(908) 770-1405</p>
      <p>Mike@OtterbineSolutions.com</p>
      <p>Mike on LinkedIn<a href="https://www.linkedin.com/in/michael-otterbine-11091928/" target="_blank"><img src="./assets/images/linkedin-in-logo.png"></a></p>
  </div>
</div>
</div>

